In [65]:
def age_split(file): 
    file=file[:,1:].astype(int)
    family_count=1
    family_age=20
    print('         1인가구   2인가구   3인가구   4인가구   5인가구이상')
    while family_age<61:
        if family_age>=60:
            age_data=file[file[:,1]>=family_age,:]
            print('\n',str(family_age)+'대이상',end='  ')
        else:
            print('\n',str(family_age)+'대',end='      ')
            age_data=file[(family_age<=file[:,1])&(file[:,1]<(family_age+10)),:]
        while family_count<=5:            
            fc_data=age_data[age_data[:,0]==family_count,2:]
            if family_count==5: fc_data=age_data[age_data[:,0]>=family_count,2:]
            fc_datamean=fc_data.mean(axis=0)
            result=fc_datamean[0]-fc_datamean[1]
            print(int(result),end='     ')
            family_count+=1
        family_count=1
        family_age=family_age+10

In [107]:
#1. 수도권(G1)/비수도권(G2)의 가구원수 별 평균 순자산(자산-부채, 단위: 만원)표를 구하여라.
def city_devide(ndarray,str):
    family_count=1
    sum=0
    if str=='수도권': print('        1인가구  2인가구  3인가구  4인가구  5인가구이상')
    print(str,end='')
    while True:
        b=ndarray[ndarray[:,0]==family_count,2:]
        b=b.mean(axis=0)
        result=b[0]-b[1]
        print(' ',int(result),end='  ')
        family_count+=1
        if family_count ==5:
            b=ndarray[ndarray[:,0]==family_count,2:]
            b=b.mean(axis=0)
            result=b[0]-b[1]
            print(' ',int(result))
            break

In [108]:
import numpy as np
file = np.loadtxt("asset.csv",delimiter=',',dtype=str)
g1=file[file[:,0]=='G1',1:].astype(int)
g2=file[file[:,0]=='G2',1:].astype(int)
city_devide(g1,'수도권')
city_devide(g2,'비수도권')
print('\n\n')
age_split(file)

        1인가구  2인가구  3인가구  4인가구  5인가구이상
수도권  17490    44448    49660    53632    60608
비수도권  10990    30802    32053    37865    37412



         1인가구   2인가구   3인가구   4인가구   5인가구이상

 20대      4754     11468     11950     7925     14551
 30대      8488     18861     24389     27594     27375
 40대      15865     21337     33170     40675     40685
 50대      11916     29254     43534     52297     52902
 60대이상  14221     40954     48716     60094     62211